* {
	box-sizing: border-box;
}

html, body {
	margin: auto;
}

header, footer {
	max-width: 660px;
	margin: 5px auto;
	border-color: red;
	border-style: solid;
	border-width: 3px;
	background-color: #D0D1D1;
	color:#3C4C6F;
	font-family : "Lato";
	padding:20px;





}

.centered {

}

header .subtitle {

}

h1 {
	color : #3C4C6F;
	font-style : bold;
	font-family : "Lato";
	text-align: center;
	font-size: 50px;

}

ul {
	display: flex;
	flex-wrap: wrap;
}

ul li {
	width: 50%;
	text-align: center;
	list-style: none;
	color:#3C4C6F;
}

main {
	margin: 20px auto;
	max-width: 660px;
	border-color: red;
	border-width: 5px;
	border-style: solid;
	padding: 20px;
	background-color: #D0D1D1;
	font-family : "Lato";

}

section {

}

h2 {
	color:#3C4C6F;
	font-style:bold;

}

h3 {
	text-decoration:  underline;
}

p {

}


.details {

}

.object {

}

.object:after {
	content: " | ";
}

footer h2 {

}